@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../fonts/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
sup {
  font-size: 0.6em;
} 
th, 
td {
  border-bottom: 1px solid #cdcddd;
  padding: 0 22px;
  height: 40px;
}
th {
  background-color: #1f1f56;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto Slab";
} 
td {
  font-size: 14px;
  color: #666;
  font-family: "Arial";
  background-color: #e4e4ec;
} 
tr:hover td {
  background-color: #fd8300;
  color: #fff;
} 
.body {
  background-color: white; 
  margin: 0; 
  font-family: Arial;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
.block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 28px;  
}
.top_menu {
  background: #1f1f56;
  padding: 15px 0;
}
.top_menu ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.menu li {
  margin-right: 28px; 
  display: inline-block;
}
.menu a {
  color: #b1b1d2;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
}
.menu a:hover {
  color: #fd8300;
}
.social li {
  display: inline-block;
  margin-left: 28px;
}
.social a {
  display: block;
  background: url(../img/sprite.png) no-repeat;
}
a.fb:hover {
  background: url(../img/sprite-2.png) no-repeat;
  background-position: 0 0;
}
a.tw:hover {
  background: url(../img/sprite-2.png) no-repeat;
  background-position: -12px 0;
}
a.in:hover {
  background: url(../img/sprite-2.png) no-repeat;
  background-position: -32px 0;
}
a.fb { 
  background-position: 0 0;
  width: 10px;
  height: 19px;
}
a.tw {
  background-position: -12px 0;
  width: 18px;
  height: 16px;
} 
a.in {
  background-position: -32px 0;
  height: 20px;
  width: 19px;
}
.reference {
  padding: 15px 0;
}
.reference .block {
  align-items: center;
}
.phone p,
.mail p { 
  margin: 10px 0;
}
.phone a {
  color: #25252c;
  text-decoration: none;
}
.stick {
  position: relative;
}
.stick:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: #e4e4ec;
  top: 8px;
  right: -25px;
} 
.tube {
  position: relative;
}
.tube a:hover {
  color: #fd8300;
}
.tube:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -28px;
  background-position: -90px 0;
  height: 18px;
  width: 41px;
  position: absolute;
}
.letter {
  position: relative;
  text-decoration: none;
}
.letter:before { 
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -30px;
  background-position: -73px 0;
  height: 13px;
  width: 19px;
  position: absolute;
}
.mail a {
  color: #25252c;
}
.mail a:hover {
  text-decoration: underline;
}
.plus {
  text-decoration: none;
  position: relative;
} 
.plus:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -30px;
  background-position: -53px 0;
  height: 18px;
  width: 18px;
  position: absolute;
}
.call  {
  font-size: 16px;
  color: #25252c;
  font-weight: bold;
  border: 2px solid orange;
  border-radius: 30px;
  display: block;
  padding: 15px 27px;
  text-decoration: none;
} 
.call:hover {
  color: #fd8300;
}
.picture {
  background-image: url(../img/background.jpg);
  background-size: cover;
  text-align: center;
  padding: 40px 0;
} 
.picture_name {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700px;
  font-family: "Roboto Slab"; 
}
.picture_advice {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.picture_price span {
  font-size: 40px;
}
.picture_price {
  font-size: 24px;
  font-weight: bold;
  color: #fd8300;
}
.picture p {
  margin: 10px 0;
}
.block_top {
  align-items: flex-start;
  padding: 35px 0 40px;
}
.main {
  font-size: 14px;
  color: #666;
  line-height: 1.7em;
}
.main h1 {
  font-size: 30px;
  line-height: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
}
.main h2 {
  color: #24242b;
  font-family: "Roboto Slab";
  margin: 25px 0;
}
.main hr {
  border: 1px solid transparent;
  border-top-color: #e4e4ec;
}
.order {
  display: table;
  border-collapse: collapse;
}
.text {
  padding-bottom: 10px;
  font-size: 13px;
  color: #666666;
  font-family: "Arial";
}
.text a {
  color: #fd8300;
  font-weight: bold;
}
.text a:hover {
  text-decoration: none;
}
h3:hover {
  text-decoration: underline;
}
.houses {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.houses p {
  font-size: 13px;
  color: #9999a6;
  margin: 0
}
.houses h2 {
  display: block;
}
.houses h3 {
  color: #1f1f56;
  margin: 0;
}
.houses figure {
  margin: 0;
}
.list {
  background: #e4e4ec;
  font-size: 14px;
  display: inline-block;
  border-radius: 3px;
  min-width: 219px;
}
.list p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto Slab";
  margin: 0;
  padding: 12px 15px;
  background-color: #1f1f56;
  border-radius: 3px 3px 0 0;
}
.list ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
.list>ul>li+li {
  border-top: 1px solid #cdcddd; 
} 
.list li:hover .style {
  display: block;
} 
.list a {
  text-decoration: none; 
  font-size: 14px;
  line-height: 1.6em;
  padding: 11px 15px; 
  display: block;  
  color: #25252c; 
  position: relative;
}
.list>ul>li>a:after {
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  content: "";
  position: absolute;
  right: 15px;
  bottom: 40%;
  height: 6px;
  width: 6px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}
.list>ul>li:hover>a:after {
  border-right-color: #fff;
  border-bottom-color: #fff;
  transform: rotate(45deg);
}
.list>ul>li:hover>a {
  color: #fff;
  background-color: #feac55;
}
.list>ul>li:last-child>a:hover {
  border-radius: 0 0 3px 3px;
}
.style {
  display: none;
}
.style a {
  color: #666;
  padding-left: 24px;
}
.style a:hover {
  color: #666;
  background-color: #cecedd;
}
.footer {
  background-color: #ededf5;
}
.column {
  padding-left: 0;
  margin: 0;
}
.column a {
  color: #666;
}
.column a:hover {
  color: #fd8300;
}
.footer-top {
  padding: 25px 0 20px;
}
.footer-top a {
  text-decoration: none;
}
.column a:hover {
  color: #fd8300;
  text-decoration: underline;
}
.footer-top li {
  padding: 5px  0;
  list-style: none;
}
.phone a {
  color: #25252c;
  font-weight: bold;
  margin: 10px 0;
}
.tell {
  position: relative;
}
.tell:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -28px;
  background-position: -90px 0;
  height: 18px;
  width: 41px;
  position: absolute;
}
a.envelope {
  text-decoration: underline;
}
.envelope {
  position: relative;
}
.envelope:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -30px;
  background-position: -73px 0;
  height: 13px;
  width: 19px;
  position: absolute;
}
.chain {
  position: relative;
}
.chain:before {
  content: "";
  background: url(../img/sprite.png) no-repeat;
  left: -30px;
  background-position: -53px 0;
  height: 18px;
  width: 18px;
  position: absolute;
}
.copy {
  background-color: #dcdce6;
  text-align: center;
  color: #9999a6;
}
.bottom {
  display: block;
}
.bottom p {
  margin: 0;
  padding: 14px 0;
}
